* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  position: relative;
}
h1 {
  font-weight: bold;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: -2px;
  padding: 0 0 45px 0;
  text-align: center;
}
h2 {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
}
h3 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h4 {
  font-size: 16px;
  color: #777777;
  font-style: italic;
  font-family: 'PT Serif', serif;
  text-align: center;
}
button {
  color: white;
  background: #fed136;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  line-height: 65px;
  padding: 0 47px;
  border-radius: 2px;
}
.colour_bg {
  background-color: #f7f7f7;
}
/*first screen style*/
.img_background {
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  /* Современные браузеры */
}
.main_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  flex-grow: 2;
}
nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.logo {
  flex-grow: 5;
}
.main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 585px;
  text-align: center;
}
/*end first screen style*/
.main_content {
  padding: 120px 0 90px 0;
  width: 940px;
}
.content_items {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*second screen style*/
.card_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 65px 0 0 0;
}
.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 25px 0;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 0 0 30px 0;
}
.card p {
  font-size: 14px;
  color: #777777;
  font-family: 'Roboto Slab', serif;
}
.icon_card {
  width: 74px;
  height: 73px;
}
.name_card {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 25px 0 10px 0;
  font-weight: bold;
}
/*end second screen style*/
/*third screen style*/
.description_img {
  font-size: 14px;
  color: #777777;
  font-family: 'PT Serif', serif;
  font-style: italic;
}
.card figure {
  height: 302px;
  overflow: hidden;
}
/*end third screen style*/
/*fourth screen style*/
.hr_card_block {
  justify-content: flex-start;
  flex-direction: column;
  padding: 82px 0 0 0;
}
.hr_card_block:nth-child(2n) {
  align-self: flex-end;
}
.gorizontal_card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 570px;
  margin-bottom: 93px;
  padding: 0 36px;
}
.gorizontal_card:nth-child(2n) {
  align-self: flex-end;
}
.gorizontal_card:nth-child(2n+1) .round_img {
  order: 2;
}
.gorizontal_card:nth-child(2n+1) .gorizontal_card_text {
  align-items: flex-end;
}
.gorizontal_card:nth-child(2n+1) p {
  text-align: right;
}
.gorizontal_card_text {
  display: flex;
  flex-direction: column;
}
.gorizontal_card_text .name_card {
  margin: 0px;
  padding-bottom: 5px;
}
.gorizontal_card_text .name_card:first-child {
  text-transform: uppercase;
}
.gorizontal_card_text p {
  padding-top: 10px;
  color: #777777;
  line-height: 21px;
}
.round_img {
  min-width: 162px;
  max-height: 162px;
  border-radius: 95px;
  border: 10px solid #f1f1f1;
  overflow: hidden;
  margin: 0 45px;
}
.round_img img {
  height: 100%;
}
.round_btn {
  width: 162px;
  height: 162px;
  border-radius: 95px;
  border: 10px solid #f1f1f1;
  background: #fed136;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: WHITE;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
}
/*end fourth screen style*/
